.navbar{
    background-color: rgb(0, 0, 0, 0.5);
    height: 45px;
    width: 100%;
    position: fixed;
    text-align: center;
}
.navbar-div{
    text-decoration: none;
}
ul{
    display: flex;
}
li{
    padding: 10px;
}